@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current count: @checking</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCheck">Click me</button>

@code {
    private int currentCount = 0;

    private int checking = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void IncrementCheck()
    {
        checking++;
    }
}
