@page "/counter"
@using BlazorWebApp.Stores.CounterStore
@using System.Diagnostics
@rendermode InteractiveServer
@inject CounterStore CounterStore
@implements IDisposable


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count:@CounterStore.GetState().Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private void IncrementCount()
    {
        CounterStore.IncrementCount();
    }

    protected override void OnInitialized()
    {
        CounterStore.AddStateChangeListener(StateHasChanged);
    }

    public void Dispose()
    {
        CounterStore.RemoveStateChangeListener(StateHasChanged);
    }
}
