@page "/Product"
@using BlazorWebApp.Dtos
@inject IProductService productService
@using Microsoft.AspNetCore.Components.Forms
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<h3>Products</h3>
<!-- Modal -->
<AddModal OnSave="SaveProduct"></AddModal>
<ProductTable @ref="productTable"></ProductTable>

<!-- Button to Open Modal -->
<div class="text-end">
    <button class="btn btn-primary" @onclick="() => ShowAddModal()">Add Product</button>
</div>


@code {
    public ProductTable productTable;
    private async void ShowAddModal()
    {
        await JSRuntime.InvokeVoidAsync("showModal", "addProductModal");
    }

    private async Task SaveProduct()
    {
        await productTable.LoadData(1);
        await JSRuntime.InvokeVoidAsync("hideModal", "addProductModal");
    }
}
