@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<div class="modal fade" id="ViewModal"  tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Product Details -->
                <div class="form-group">
                    <label>Name:</label>
                    <p>@product.Name</p>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <p>@product.Description</p>
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    <p>@product.Price</p>
                </div>
                <div class="form-group">
                    <label>Stock Quantity:</label>
                    <p>@product.StockQuantity</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public GetProductDtos product { get; set; } = new();



}
